body{
    background-image: url("./assets/paper-bg.jpg") ;
}

nav.navbar{
    background-color: #83B330;
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.479);
    border: black;
    font-family: SegoeScript, serif;
    font-weight: bold;
    font-size: 1.7rem;
    padding-right: 40px;
}

h1, h2{
    font-family: SegoeScript, serif;
}

nav a{
    color: black;    

}

.logo{
    width: 230px;
}

.contact-bar{
    width: 184px;
    height: 480px;
    position: fixed;
    right: 0px;
    top: 220px;
    background-color: #83B330;
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.479);
    text-align: center;
}

.contact-bar img{
    width: 150px;
}

footer{
    background-color: #83B330;
    height: 50px;
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.479);
    position: relative;
    bottom: 0px;
}

@font-face {
    font-family: SegoeScript;
    src: url("./fonts/segoesc.ttf");
    font-weight: normal;
}

@font-face {
    font-family: SegoeScript;
    src: url("./fonts/segoescb.ttf");
    font-weight: bold;
}


@media screen and (max-width: 600px) { 

.tx{
    font-size: 1.2rem;
}

.foot{
    font-size: 0.8rem;
}

 }

 